/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Header */
header {
  background: #2c3e50;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

/* Navigation */
nav {
  background: #34495e;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
}

nav ul li a:hover {
  background: #2c3e50;
}

/* Section */
section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
  background: #fff;
  margin-top: 20px;
}

h2 {
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 5px;
}

/* Card */
.card {
  background: #ecf0f1;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #2c3e50;
  color: #fff;
  margin-top: 20px;
}


		/*Button*/
		button{
		padding: 14px 32px;
    		background: linear-gradient(135deg, #00c6ff, #0072ff);
    		color: white;
    		border: none;
    		border-radius: 30px;
   		font-weight: bold;
    		cursor: pointer;
		margin:30 0 0 0;
		}